<div style="padding:20px; margin-bottom:20px;"><img src="img/Hitachi_inspire_the_next-Logo.svg" class="img-responsive"/></div>

<button type="button" class="btn btn-default btn-opt" ng-click="tc.isCollapsedOne = !tc.isCollapsedOne; collapseMenuOne()">
	<div class="btnTitle">Customer environment</div>
</button>
	<div id="subMenu1" class="submenu" collapse="!tc.isCollapsedOne">
    	<button type="button" class="btn btn-default btn-sub">Storage</button>
        <button type="button" class="btn btn-default btn-sub">Sharepoint</button>
        <button type="button" class="btn btn-default btn-sub">Unstructured Data</button>
        <button type="button" class="btn btn-default btn-sub">Servers</button>
        <button type="button" class="btn btn-default btn-sub">External</button>
        <button type="button" class="btn btn-default btn-sub">Backup</button>
        <button type="button" class="btn btn-default btn-sub">Availability</button>
    
    </div>
<button type="button" class="btn btn-default btn-opt" ng-click="tc.isCollapsedTwo = !tc.isCollapsedTwo; collapseMenuTwo()">
	<div class="btnTitle">Best practices</div>
</button>
	<div id="subMenu2" class="submenu" collapse="!tc.isCollapsedTwo">
    	<button type="button" class="btn btn-default btn-sub">Virtualization</button>
        <button type="button" class="btn btn-default btn-sub">Google</button>
        <button type="button" class="btn btn-default btn-sub">NAS</button>
        <button type="button" class="btn btn-default btn-sub">Bladeserver</button>
        <button type="button" class="btn btn-default btn-sub">Site Manager</button>
        <button type="button" class="btn btn-default btn-sub">Software</button>
        <button type="button" class="btn btn-default btn-sub">Dropbox</button>
    
    </div>
<button type="button" class="btn btn-default btn-opt" ng-click="tc.isCollapsedThree = !tc.isCollapsedThree; collapseMenuThree()">
	<div class="btnTitle">Hitachi Solutions</div>
</button>
	<div id="subMenu3" class="submenu" collapse="!tc.isCollapsedThree">
    	<button type="button" class="btn btn-default btn-sub">HUS</button>
        <button type="button" class="btn btn-default btn-sub">HDDMS</button>
        <button type="button" class="btn btn-default btn-sub">VPS/HUS VM</button>
        <button type="button" class="btn btn-default btn-sub">HNAS/HUS File</button>
        <button type="button" class="btn btn-default btn-sub">HCB</button>
        <button type="button" class="btn btn-default btn-sub">HDI</button>
        <button type="button" class="btn btn-default btn-sub">UCP</button>
    
    </div>
<button type="button" class="btn btn-default btn-opt" ng-click="tc.isCollapsedFour = !tc.isCollapsedFour; collapseMenuFour()">
	<div class="btnTitle">Share</div>
</button>
	<div id="subMenu4" class="submenu" collapse="!tc.isCollapsedFour">
    	<button type="button" class="btn btn-default btn-sub">Print</button>
        <button type="button" class="btn btn-default btn-sub">Email</button>  
    </div>
