<div style="padding:20px; margin-bottom:20px;"><img src="img/Hitachi_inspire_the_next-Logo.svg" class="img-responsive"/></div>

<button type="button" class="btn btn-default btn-opt" ng-click="tc.isCollapsedOne = !tc.isCollapsedOne; collapseMenuOne()">
	<div class="btnTitle">Select radio stream</div>
</button>
	<div id="subMenu1" class="submenu" collapse="!tc.isCollapsedOne">
    	<button type="button" class="btn btn-default btn-sub">Stream 1</button>
        <button type="button" class="btn btn-default btn-sub">Stream 2</button>
        <button type="button" class="btn btn-default btn-sub">Stream 3</button>
        <button type="button" class="btn btn-default btn-sub">Stream 4</button>
        <button type="button" class="btn btn-default btn-sub">Stream 5</button>
        <button type="button" class="btn btn-default btn-sub">Stream 6</button>
        <button type="button" class="btn btn-default btn-sub">Stream 7</button>
    
    </div>

